<div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
  <a href="/">
    <div class="flex items-center gap-3">
      <div class="bg-indigo-600 p-1 rounded-lg text-white">
        <div
          class="w-8 h-8 rounded-md bg-indigo-600 text-white text-lg flex items-center justify-center font-bold"
        >
          CB
        </div>
      </div>
      <div>
        <span class="text-xl font-bold tracking-tight">CalcBase</span>
        <p class="hidden sm:block text-xs text-gray-500 dark:text-gray-400">
          Simple & Accurate Financial Calculators
        </p>
      </div>
    </div>
  </a>
  <div class="flex items-center gap-4">
    <nav
      class="hidden md:flex gap-4 text-sm font-medium text-gray-600 dark:text-gray-300"
    >
      <a href="/" class="hover:text-indigo-600 dark:hover:text-indigo-400"
        >Home</a
      >
      <!-- <a href="/blogs/" class="hover:text-indigo-600 dark:hover:text-indigo-400"
        >Blogs</a
      > -->
      <a href="/about/" class="hover:text-indigo-600 dark:hover:text-indigo-400"
        >About</a
      >
      <a
        href="/contact/"
        class="hover:text-indigo-600 dark:hover:text-indigo-400"
        >Contact</a
      >
    </nav>
    <div class="flex items-center">
      <button
        onclick="toggleTheme()"
        id="theme-toggle"
        class="p-2 rounded-lg hover:bg-slate-100 dark:hover:bg-slate-800 transition-colors"
      >
        <span id="theme-icon-light" class="hidden">☀️</span>
        <span id="theme-icon-dark" class="">🌙</span>
      </button>
      <button
        id="hamMenu"
        class="p-2 md:hidden rounded-lg hover:bg-slate-100 dark:hover:bg-slate-800 transition-colors"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            d="M3 6h18M3 12h18M3 18h18"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<div>
  <!-- Mobile Overlay -->
  <div
    id="mobileOverlay"
    class="fixed inset-0 bg-black/40 z-40 hidden"
    onclick="closeMobileMenu()"
  ></div>

  <!-- Mobile Sidebar -->
  <aside
    id="mobileMenu"
    class="h-screen px-4 py-3 fixed top-0 left-0 h-full w-72 bg-white dark:bg-slate-900 z-50 transform -translate-x-full transition-transform duration-300 md:hidden"
  >
    <!-- Header -->
    <div
      class="px-5 py-4 border-b border-slate-200 dark:border-slate-800 flex justify-between items-center"
    >
      <span class="text-lg font-bold">Menu</span>
      <button onclick="closeMobileMenu()" class="text-2xl">✕</button>
    </div>

    <!-- Links -->
    <nav
      class="flex flex-col p-5 gap-4 text-gray-700 dark:text-gray-200 font-medium"
    >
      <a href="/" class="hover:text-indigo-600">Home</a>
      <!-- <a href="/blogs/" class="hover:text-indigo-600">Blogs</a> -->
      <a href="/about/" class="hover:text-indigo-600">About</a>
      <a href="/contact/" class="hover:text-indigo-600">Contact</a>
    </nav>
  </aside>
</div>


